!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KonnoPortfolio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width-device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/abaca9e9d6.js"}
  %body
    .top
      .top_header#top
        .top_header_content
          .top_header_content_index
            %input#header_toggle{:type => "checkbox"}/
            %label{:for => "header_toggle"}
              %span
            .top_header_content_index_menu
              %ul
                %li
                  %a{:href => "#top"} トップページ
                %li
                  %a{:href => "#profile"} プロフィール
                %li
                  %a{:href => "#concept"} 作品紹介
                %li
                  %a{:href => "#about"} 詳細
      .top_message
        %h2 GO-CHANNEL
        %p 楽器で人と人を繋ぐ
    .profile
      .profile_title#profile
        %h1 Profile
      .profile_detail
        .profile_detail_myinfo
          .profile_detail_myinfo_face
            = image_tag 'profile-face.png'
          .profile_detail_myinfo_title
            %h2 Self-introduction
          .profile_detail_myinfo_name
            %i.fas.fa-user-alt 
            %p 今野郷　-konnno go-
          .profile_detail_myinfo_school
            %i.fas.fa-school 
            %p 秋田大学　理工学部　物質科学科
          .profile_detail_myinfo_birthday
            %i.fas.fa-birthday-cake 
            %p 1998 06 08
          .profile_detail_myinfo_birthplace 
            %i.fas.fa-leaf 
            %p 岩手県　大船渡市
          .profile_detail_myinfo_github
            = link_to "https://github.com/konno88/blogapp-konnon", "https://github.com/konno88/blogapp-konnon"
        .profile_detail_info
          .profile_detail_info_education
            .profile_detail_info_education_title
              %h2 Education
            .profile_detail_info_education_info
              %p 2014 : 岩手県立大船渡高等学校入学
              %p 2017 : 岩手県立大船渡高等学校卒業
              %p 2017 : 秋田大学入学
          .profile_detail_info_skill
            .profile_detail_info_skill_title
              %h2 Skills
            .profile_detail_info_skill_info
              .profile_detail_info_skill_info_html
                .profile_detail_info_skill_info_html_img
                  = image_tag 'html5.png'
                %p HTML5
              .profile_detail_info_skill_info_css
                .profile_detail_info_skill_info_css_img
                  = image_tag 'css3.png'
                %p CSS
              .profile_detail_info_skill_info_javascript
                .profile_detail_info_skill_info_javascript_img
                  = image_tag 'javascript_1.png'
                %p JavaScript
              .profile_detail_info_skill_info_ruby
                .profile_detail_info_skill_info_ruby_img
                  = image_tag 'ruby.png'
                %p Ruby on Rails
              .profile_detail_info_skill_info_aws
                .profile_detail_info_skill_info_aws_img
                  = image_tag 'aws.png'
                %p AWS
    .concept
      .concept_title#concept
        %h2 Concept
      .concept_detail
        .concept_detail_explanation 
          %h3 楽器を通して繋がりを広げる
          %p 楽器を弾いてるけど周りに語れる人がいない...。そう思っている人はいませんか？
          %p このアプリはそういった思いのある人同士の繋がりを
          %p サポートするマッチングアプリです。
        .concept_detail_use
          .concept_detail_use_search
            %p ユーザー検索
            %p.explanation ※趣味の合う人を見つけよう
            = image_tag 'user-search-explanation.png'
          .concept_detail_use_chat
            %p フォロー＆チャット
            %p.explanation ※相互フォローが完了するとチャットボタンが出て、チャットができるようになるよ
            = image_tag 'chat-explanation.png'
          .concept_detail_use_groupsearch
            %p グループ作成＆検索
            %p.explanation ※グループを作成したり、気になるグループを見つけて参加しよう
            = image_tag 'group-search-explanation.png'
          .concept_detail_use_groupchat
            %p グループチャット
            %p.explanation ※色んな人と会話し、繋がりの幅を広げよう
            = image_tag 'group-chat-explanation.png'
      .about
        .about_title#about
          %h2 About
        .about_detail
          .about_detail_item1
            .about_detail_item1_skill
              .about_detail_item1_skill_title
                %p Skill set
              .about_detail_item1_skill_image
                %i.fas.fa-laptop.fa-7x
              .about_detail_item1_skill_info
                %p サーバーサイド：Ruby on Rails
                %p フロントサイド：HTML, CSS, JavaScript
            .about_detail_item1_time
              .about_detail_item1_time_title
                %p Creation time
              .about_detail_item1_time_image
                %i.fa.fa-calendar.fa-7x
              .about_detail_item1_time_info
                %p 3ヶ月
          .about_detail_item2
            .about_detail_item2_title
              %p About
              %p Go_channel
            .about_detail_item2_image
              = image_tag 'about.png'
          .about_detail_item3
            .about_detail_item3_people
              .about_detail_item3_people_title
                %p Number of people
              .about_detail_item3_people_image
                %i.fas.fa-users.fa-7x
              .about_detail_item3_people_info
                %p 1名
            .about_detail_item3_info
              .about_detail_item3_info_title
                %p Public information
              .about_detail_item3_info_image
                %i.fab.fa-github.fa-7x
              .about_detail_item3_info_info
                =link_to "https://github.com/konno88/blogapp-konnon", "https://github.com/konno88/blogapp-konnon"
                =link_to "https://blogapp-konnon-test.herokuapp.com", "https://blogapp-konnon-test.herokuapp.com"
    = yield
